/// /// //
/// Master style for tags in hell.
//
/// @param {%} $w width
/// @param {UNIT} $pv padding-vertically
/// @param {%} $ph padding-horizontally
//
/// @example
/// body > $pillar {
///   @include condemn_sinner(40%, 4px, 3%);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    padding: 4px 3% 0 3%;
/// ///    width: 40% - (2% + 2%) !important;
/// ///    margin: 0 !important;
/// ///    margin-right: 0 !important;
/// ///    break-before: always;
/// ///    display: inline-block;
/// ///    clear: left;
/// ///    float: left;
/// ///    text-align: left;
/// /// }
/// //
@mixin condemn_sinner($w, $pv, $ph) {
  @include all_are_judged($w, $pv, $ph);
  clear: left;
  float: left;
  margin-right: $ph !important;
}
