/// /// //
/// Makes an element stand out on the page for debugging.
//
/// @example
/// body > $pillar {
///   @include debug_show());
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    background-color: red;
/// ///    color: white;
/// ///    border: blue solid 1px;
/// /// }
/// //
@mixin debug($col) {
  border: $col 1px solid;
}
