/// /// //
/// Fix a tag height.
//
/// @param {UNIT} $sz fixed height
//
/// @example
/// body > .adonToolBar {
///   @include fixedheight_god(123px);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    height: 123px !important;
/// ///    min-height: 123px !important;
/// ///    max-height: 123px !important;
/// /// }
/// //
@mixin fixed_height($sz) {
  height: $sz !important;
  max-height: $sz !important;
  min-height: $sz !important;
}
