/// /// //
/// Fix a tag width.
//
/// @param {UNIT} $sz fixed width
//
/// @example
/// body > .adonToolBar {
///   @include fixedwidth_god(123px);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    width: 123px !important;
/// ///    min-width: 123px !important;
/// ///    max-width: 123px !important;
/// /// }
/// //
@mixin fixed_width($sz) {
  width: $sz !important;
  max-width: $sz !important;
  min-width: $sz !important;
}
