/// /// //
/// Master style for tags in heaven.
//
/// @param {%} $w width
/// @param {UNIT} $pv padding-vertically
/// @param {%} $ph padding-horizontally
/// @param {%} $m margin
/// @param {UNIT} $b border
//
/// @example
/// body > $pillar {
///   @include forgive_sinner(40%, 2%, 1%);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    padding: 6px 2% 0 2%;
/// ///    width: 40% - (2% + 2%) !important;
/// ///    margin-top: 0 !important;
/// ///    margin-bottom: 1% !important;
/// ///    margin-left: 0 !important;
/// ///    margin-right: 0 !important;
/// ///    break-before: always;
/// ///    break-before: always !important; /// give way on right
/// ///    clear: right;
/// ///    float: right;
/// ///    text-align: right;
/// /// }
/// //
@mixin forgive_sinner($w, $pv, $ph) {
  @include all_are_judged($w, $pv, $ph);
  break-before: always !important; /* give way on right */
  clear: right;
  float: right;
  margin-left: $ph !important;
}
