/// /// //
/// Master style for heading spreads
//
/// @param {LIST} $fontzy A list of 6 heading sizes
//
/// @example
/// @include heading_sizes(600% 500% 400% 300% 200% 100%);
//
/// /// h1 {
/// ///   font-size:  600%;
/// /// }
/// /// h2 {
/// ///   font-size:  500%;
/// /// }
/// /// h3 {
/// ///   font-size:  400%;
/// /// }
/// /// h4 {
/// ///   font-size:  300%;
/// /// }
/// /// h5 {
/// ///   font-size:  200%;
/// /// }
/// /// h6 {
/// ///   font-size:  100%;
/// /// }
@mixin heading_sizes($fonti) {
  @for $i from 1 through 6 {
    #{h + $i} {
      font-size: nth($fonti, $i);
    }
  }
}
