/// /// //
/// Master styles for media breaks.
//
/// @example
/// @include tight {
///   color: blue;
/// }
//
/// //@media screen and (max-width: 600px) {
/// ///    color: blue;
/// /// }
@mixin tight {
  @media screen and (max-width: $god-tight) {
    @content;
  }
}

@mixin cosy {
  @media screen and (min-width: $god-tight + 1px) and (max-width: $god-cosy) {
    @content;
  }
}

@mixin tight_and_cosy {
  @media screen and (max-width: $god-cosy) {
    @content;
  }
}

@mixin loose {
  @media screen and (min-width: $god-cosy + 1px) and (max-width: $god-loose) {
    @content;
  }
}

@mixin full {
  @media screen and (min-width: $god-loose + 1px) {
    @content;
  }
}
