/// /// //
/// Margin style to contain a pillar.
//
/// Using left and right margins as percentages to fix the column, with no
/// vertical margin.
//
/// @param {%} $ml margin-left
/// @param {%} $mr margin-right
//
/// @example
/// body > $pillar {
///   @include pillar_containment(30%, 30%);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///   margin-left: 30% !important;
/// ///   margin-right: 30% !important;
/// /// }
/// //
@mixin pillar_containment($ml, $mr) {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-left: $ml !important;
  margin-right: $mr !important;
}

/// /// //
/// Padding style to contain a pillar.
//
/// Apply vertical padding as the margin between tags, and horizontal padding
/// to pad between the pillar and the believers.
//
/// @param {UNIT} $pv padding-vertically
/// @param {%} $ph padding-horizontally
//
/// @example
/// body > $pillar {
///   @include pillar_padding(0, 3%);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    padding: 0 3%;
/// /// }
/// //
@mixin pillar_padding($pv, $ph) {
  padding: $pv $ph;
}

/// /// //
/// A column of tags forming a vertical pillar on the web page.
//
/// @param {%} $ml margin-left
/// @param {%} $mr margin-right
/// @param {UNIT} $pv padding-vertically
/// @param {%} $ph padding-horizontally
//
/// @example
/// body > $pillar {
///   @include pillaraged(20%, 40%, 4px, 3%);
/// }
//
/// /// body > h1,
/// /// body > h2,
/// /// body > p, {
/// ///    margin: 0 20% 0 40% !important;
/// /// /// > ol,
/// /// /// > ul, {
/// /// ///   padding-left: 3%;
/// /// ///   padding-right: 3%;
/// /// /// }
/// ///    padding: 4px 3%;
/// ///    display: block;
/// ///    float: none;
/// /// }
/// //
@mixin pillaraged($ml, $mr, $pv, $ph, $disp: block) {
  box-sizing: border-box;
  display: $disp;
  float: none;
  @include pillar_containment($ml, $mr);
  @include pillar_padding($pv, $ph);
}
