@import "../../stylesheets/functions/no_means_no";
@import "../../stylesheets/functions/strip_unit";
@include test("@function no_means_no") {
  $__TESTS__: (
    "0 means no.": (
      0: true,
      // 0px: true,
      // 0pt: true,
      // 0%: true,,,,,,
    ),
    "Nonzero values mean yes.": (
      0.1: false,
      1: false,
      // 1%: false,
      // 2px: false,
      // 10pt: false,
      // 100em: false,,,,,,
    ),
    "Some words mean no.": (
      "no": true,
      // false: true,
      // none: true,
      // null: true,
      // 'false': true,
      // 'None': true,
      // 'null': true,
      // 'normal': true,,,,,,
    ),
  );

  @each $suite, $tests in $__TESTS__ {
    @each $argument, $expect in $tests {
      @include assert-equal(no_means_no($argument), $expect, $suite);
    }
  }
}
