@import "../../stylesheets/mixins/all_are_judged";
@include test("@mixin all_are_judged()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include all_are_judged(40%, 4px, 3%);
    }
    @include expect {
      box-sizing: border-box;
      display: inline-block;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 4px 3%;
      width: 40% !important;
    }
  }
}
