@import "../../stylesheets/mixins/all_are_judged";
@import "../../stylesheets/mixins/condemn_sinner";

@include test("@mixin condemn_sinner()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include condemn_sinner(40%, 4px, 3%);
    }

    @include expect {
      box-sizing: border-box;
      display: inline-block;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 4px 3%;
      width: 40% !important;
      clear: left;
      float: left;
      margin-right: 3% !important;
    }
  }
}
