@import "../../stylesheets/mixins/fixedheight_god";

@include test("@mixin fixedheight_god()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include fixedheight_god(123px);
    }

    @include expect {
      height: 123px !important;
      max-height: 123px !important;
      min-height: 123px !important;
    }
  }
}
