@import "../../stylesheets/mixins/fixed_width";

@include test("@mixin fixed_width()") {
  @include assert("Correctly placed parameters.") {
    @include output {
      @include fixed_width(123px);
    }

    @include expect {
      width: 123px !important;
      max-width: 123px !important;
      min-width: 123px !important;
    }
  }
}
