@import "../../stylesheets/mixins/fixed_height";

@include test("@mixin fixed_height()") {
  @include assert("Correctly placed parameters.") {
    @include output {
      @include fixed_height(123px);
    }

    @include expect {
      height: 123px !important;
      max-height: 123px !important;
      min-height: 123px !important;
    }
  }
}
