@import "../../stylesheets/mixins/heading_sizes";
@include test("@mixin heading_sizes()") {
  @include assert("full range of heading sizes") {
    @include output {
      @include heading_sizes(600% 500% 400% 300% 200% 100%);
    }
    @include expect {
      h1 {
        font-size: 600%;
      }

      h2 {
        font-size: 500%;
      }

      h3 {
        font-size: 400%;
      }

      h4 {
        font-size: 300%;
      }

      h5 {
        font-size: 200%;
      }

      h6 {
        font-size: 100%;
      }
    }
  }
}
