@import "../../stylesheets/mixins/pillaraged";

@include test("@mixin pillar_padding()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include pillar_padding(4px, 3%);
    }

    @include expect {
      padding: 4px 3%;
    }
  }
}
