@import "../../stylesheets/mixins/pillar_toolbar";

@include test("@mixin pillar_toolbar()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include pillar_toolbar(4px, 3%);
    }

    @include expect {
      font-size: 100%;
      margin-bottom: 0;
      max-height: 32px;
      padding: 4px 3%;
      text-align: right;
    }
  }
}
