@import "../../stylesheets/mixins/pillaraged";
@include test("@mixin pillar_containment()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include pillar_containment(20%, 30%);
    }
    @include expect {
      margin-block-end: 0;
      margin-block-start: 0;
      margin-left: 20% !important;
      margin-right: 30% !important;
    }
  }
}
