@import "../../stylesheets/mixins/pillaraged";

@include test("@mixin pillaraged()") {
  @include assert("Correctly place its parameters.") {
    @include output {
      @include pillaraged(20%, 30%, 4px, 3%);
    }

    @include expect {
      box-sizing: border-box;
      display: block;
      float: none;
      margin-block-end: 0;
      margin-block-start: 0;
      margin-left: 20% !important;
      margin-right: 30% !important;
      padding: 4px 3%;
    }
  }
}
