// COLORS ==================
$heaven-color: lightgrey; // dark color: mainly for bg with $pillar-color text.
$pillar-color: black; // dark color: mainly for heading text on white bg.
$hell-color: darkgrey; // dark color: mainly for bg with white text.
$god-color: $pillar-color; // $god-color: the primary color
$god-blushed: hotpink; // $god-color: the primary tint color
