// Master for heaven styles. Highjack a standard block level HTML tag like "h6".
// Apply the hang @mixin. h6 becomes a sidebar "sinner" which the body text will
// wrap around. On small screens believers collapse to panels with special styles.
// Commarise the list as a css selector.
#{$heaven} {
  @include forgive_sinner(
    $heaven-width - $god-space,
    $personal-space,
    $god-space
  );
  $heaven-adj: overlap_factor(
    $heaven-width,
    100% - $god-space - $hell-width,
    $heaven-cosy
  );
  @include cosy {
    // Little bit wider, now that we're overlapping
    width: $heaven-width + $heaven-adj - $god-space !important;
  }
  @include full {
    // Little bit narrow, now that we're big
    width: $heaven-width - ($heaven-adj * 0.3) - $god-space !important;
  }
}
