//
// Master for hell styles. Highjack a standard block level HTML tag like "h6".
// Apply the hang @mixin. h6 becomes a sidebar "sinner" which the body text will
// wrap around. On small screens believers collapse to panels with special styles.
// Commarise the list as a css selector.
#{$hell} {
  @include condemn_sinner(
    $hell-width - $god-space,
    $personal-space,
    $god-space
  );
  $hell-adj: overlap_factor(
    $hell-width,
    100% - $god-space - $heaven-width,
    $hell-cosy
  );
  @include cosy {
    // Little bit wider, now that we're overlapping
    full: $hell-adj;
    width: $hell-width + $hell-adj - $god-space !important;
  }
  @include full {
    // Little bit narrow, now that we're big
    full: $hell-adj;
    width: $hell-width - ($hell-adj * 0.3) - $god-space !important;
  }
}
