// MEDIA BREAKS ==================
$god-loose: 1400px; // loose - prongs divided - no overlap.
$god-cosy: 1024px; // cosy - overlap between sinners and the pillar.
$god-tight: 768px; // tight - believers full width - piller width small margin.
$heaven-cosy: 30%; // cosy - allow the heaven width to grow by this amount.
$hell-cosy: 30%; // cosy - allow the hell width to grow by this amount.
$pillar-cosy: 30%; // cosy - allow the pillar width to grow by this amount.
