// `pillar` level HTML tags like p, h6, div should come inside the body tag.
//  By default pillar is "contained".
// Commarise the list as a css selector.
@use "sass:math";

#{$pillar} {
  @include pillaraged($hell-width, $heaven-width, $personal-space, $god-space);
  $pillar-adj: overlap_factor(
    100% - $god-space - $heaven-width - $hell-width,
    100% - $god-space,
    $pillar-cosy
  );
  @include cosy {
    @include pillar_containment(
      $hell-width - math.div($pillar-adj, 2),
      $heaven-width - math.div($pillar-adj, 2)
    );
  }
  @include tight {
    @include pillar_containment($personal-space, $personal-space);
    @include pillar_padding($inline-padding, $inline-padding);
  }
}
