/* god theme: Call me to include god in your SASS projects.*/
@import "./mixins";
$skiponacci: skiponacci(6);
$fontonacci: fontonacci($skiponacci, $god-h6, $god-h1);
$container: sl-to-string($container, ">,") + ">";
$heaven: sl-to-list($heaven, comma);
$hell: sl-to-list($hell, comma);
$pillar-width: 100% - $heaven-width - $hell-width;

#{$container} {
  @include heading_sizes($fontonacci);
  @import "pillar";
  @import "heaven";
  @import "hell";
  @import "sinner";
  @import "ol/pillar";
  @import "ul/pillar";
  @import "img/pillar";
}
