@import "colors";
@import "media";
// LAYOUT ==================
$god-space: 3%; // the vertical padding between all the prongs.
$heaven-width: 33%; // prong width left (as a percentage to help scaling).
$hell-width: 33%; // prong width right (as a percentage to help scaling).
$personal-space: 12px; // the horizontal padding between believers.
$transition: 3s;
// TEXT ==================
$god-h1: 300%; // font size of h1.
$god-h6: 100%; // font size of h6.
$god-p: 90%; // font size of paragraph text.
$god-spoke: $god-p * 1.2; // standout with big text.
$god-head: sans-serif; // for heading level text.
$god-body: serif; // for body level text.
// BASICS ==================
$god-border: 1px $god-blushed solid; // general purpose border
$inline-padding: 3px;
$toothpaste-color: "none";
// BELIEVERS ==================
$container: (body); // sin classes only affect direct children of these
$pillar: (
  h1,
  p,
  menu,
  footer,
  ul
); // pillar - all tags are stictly contained the same way - no believers here.
$heaven: (blockquote); // hangs right - gets the best views.
$hell: (aside); // hangs left.
// GLOBALS - do ==================
